*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

genome_overview.txt
.idea/
bioinfo.log
stats/

database.sqlite
database.sqlite-journal
jxl.log
obj/*.class

*.so
*.zip
*.dylib
*.dll

Eclipse/
